.box{
background-color: blue;
    border: 1px solid lightblue;
    width: 200px;
    height: 100px;
    margin: 10px;
    
}
.box-1{
    background-color: lightblue;
    transition: all 2s;
}

.box-1:hover{
    background-color: aqua;
    width: 300px;
    height: 120px;
}
.box-2{
    background-color: lightblue;
    transition: all 2s;
}
.box-4{
    background-color: lightblue;
    transition: all 2s; 
}
.box-3{
    background-color: lightblue;
    transition: all 2s;    
}
